@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
body {
 font-family: "Roboto", sans-serif;
 font-weight: 500;
}

.body-wrapper {
 min-height: 100%;
 overflow: hidden;
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-orient: vertical;
 -webkit-box-direction: normal;
     -ms-flex-direction: column;
         flex-direction: column;
}

.container {
 width: 100%;
 padding: 0 15px;
 margin: auto;
 max-width: 1200px;
}

.main {
 -webkit-box-flex: 1;
     -ms-flex: 1 1 auto;
         flex: 1 1 auto;
}

.intro {
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-orient: vertical;
 -webkit-box-direction: normal;
     -ms-flex-direction: column;
         flex-direction: column;
 -webkit-box-align: center;
     -ms-flex-align: center;
         align-items: center;
 padding: 0px;
 gap: 30px;
 width: 100%;
 height: 100%;
 -ms-flex-wrap: nowrap;
     flex-wrap: nowrap;
 position: relative;
 z-index: 2;
 background: url("img/main/block1/block1-background.png") center no-repeat;
 background-size: cover;
 -webkit-background-size: cover;
}
.intro:after {
 content: "";
 width: 50%;
 height: 100%;
 background: rgba(37, 37, 37, 0.4);
 -webkit-backdrop-filter: blur(2px);
         backdrop-filter: blur(2px);
 position: absolute;
 top: 0;
 left: 0;
 z-index: 1;
}
@media (max-width: 871px) {
 .intro:after {
  width: 70%;
 }
}

.header {
 width: 100%;
 background-color: #fff;
 min-height: 120px;
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-orient: vertical;
 -webkit-box-direction: normal;
     -ms-flex-direction: column;
         flex-direction: column;
 -webkit-box-pack: center;
     -ms-flex-pack: center;
         justify-content: center;
}

.header__body {
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-pack: justify;
     -ms-flex-pack: justify;
         justify-content: space-between;
}

.header-menu {
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-orient: horizontal;
 -webkit-box-direction: normal;
     -ms-flex-direction: row;
         flex-direction: row;
 -ms-flex-wrap: wrap;
     flex-wrap: wrap;
 -webkit-box-align: center;
     -ms-flex-align: center;
         align-items: center;
 height: 100%;
 padding: 0px;
 gap: 50px;
}
.header-logo {
 width: 52px;
 height: 60px;
}

.header-menu-1 {
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-orient: horizontal;
 -webkit-box-direction: normal;
     -ms-flex-direction: row;
         flex-direction: row;
 -webkit-box-align: start;
     -ms-flex-align: start;
         align-items: flex-start;
 height: 100%;
 -ms-flex-wrap: wrap;
     flex-wrap: wrap;
 padding: 15px 0px 0px;
 gap: 20px;
}
@media (max-width: 860px) {
 .header-menu-1 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
 }
}
@media (max-width: 600px) {
 .header-menu-1 {
  display: none;
 }
}

.header-menu-montash {
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-orient: horizontal;
 -webkit-box-direction: normal;
     -ms-flex-direction: row;
         flex-direction: row;
 -webkit-box-align: center;
     -ms-flex-align: center;
         align-items: center;
 padding: 0px;
 gap: 5px;
}
@media (max-width: 860px) {
 .header-menu-montash {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
 }
}

.header-menu-montash, .header-menu-proectirovanie {
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-orient: horizontal;
 -webkit-box-direction: normal;
     -ms-flex-direction: row;
         flex-direction: row;
 -webkit-box-align: center;
     -ms-flex-align: center;
         align-items: center;
 padding: 0px;
 gap: 5px;
}
.menu-text {
 font-family: "Roboto";
 font-style: normal;
 font-weight: 500;
 font-size: 16px;
 line-height: 19px;
 /* identical to box height */
 color: #252525;
}
@media (max-width: 992px) {
 .menu-text {
  font-size: 12px;
 }
}

.menu-text-montash-img {
 width: 16px;
 height: 16px;
}

.header-wrapper-tel {
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-orient: horizontal;
 -webkit-box-direction: normal;
     -ms-flex-direction: row;
         flex-direction: row;
 -webkit-box-align: center;
     -ms-flex-align: center;
         align-items: center;
 padding: 0px;
 gap: 50px;
}
@media (max-width: 1073px) {
 .header-wrapper-tel {
  gap: 20px;
 }
}
@media (max-width: 600px) {
 .header-wrapper-tel {
  display: none;
 }
}

.header-tel {
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-align: center;
     -ms-flex-align: center;
         align-items: center;
 -webkit-box-pack: start;
     -ms-flex-pack: start;
         justify-content: flex-start;
 gap: 20px;
}

.header-search {
 width: 24px;
 height: 24px;
}

.header-tel-icon {
 width: 22px;
 height: 21px;
}

.header-tel-text {
 font-family: "Open Sans";
 font-style: normal;
 font-weight: 700;
 font-size: 20px;
 line-height: 27px;
 color: #252525;
}
@media (max-width: 1073px) {
 .header-tel-text {
  font-size: 16px;
 }
}

.block1-wrapper {
 width: 100%;
 height: 82.2784810127vh;
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-orient: vertical;
 -webkit-box-direction: normal;
     -ms-flex-direction: column;
         flex-direction: column;
 -webkit-box-pack: end;
     -ms-flex-pack: end;
         justify-content: flex-end;
 position: relative;
 padding-bottom: 30px;
}
@media (max-width: 600px) {
 .block1-wrapper {
  height: 500px;
 }
}

.block1 {
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-pack: start;
     -ms-flex-pack: start;
         justify-content: flex-start;
 -webkit-box-align: end;
     -ms-flex-align: end;
         align-items: flex-end;
 height: 100%;
}

.block1_arrow {
 width: 100%;
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-ordinal-group: 3;
     -ms-flex-order: 2;
         order: 2;
 -webkit-box-pack: justify;
     -ms-flex-pack: justify;
         justify-content: space-between;
 z-index: 3;
 -ms-flex-item-align: center;
     -ms-grid-row-align: center;
     align-self: center;
 margin-left: 100px;
 margin-right: 100px;
}
@media (max-width: 477px) {
 .block1_arrow {
  margin-left: 20px;
  margin-right: 20px;
 }
}

img.block1_arrow {
 width: 52px;
 height: 20px;
}

.block1-text-wrapper {
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-orient: vertical;
 -webkit-box-direction: normal;
     -ms-flex-direction: column;
         flex-direction: column;
 -webkit-box-pack: center;
     -ms-flex-pack: center;
         justify-content: center;
 -webkit-box-align: start;
     -ms-flex-align: start;
         align-items: flex-start;
 padding: 30px 30px 30px 50px;
 gap: 10px;
 width: 61.6319444444%;
 height: 88%;
 margin-top: 25px;
 z-index: 2;
}
@media (max-width: 600px) {
 .block1-text-wrapper {
  padding: 0px;
  padding-left: 30px;
  padding-top: 80px;
  width: 100%;
 }
}

.block1-text {
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-orient: vertical;
 -webkit-box-direction: normal;
     -ms-flex-direction: column;
         flex-direction: column;
 -webkit-box-align: start;
     -ms-flex-align: start;
         align-items: flex-start;
 padding: 0px;
 width: 71.5492957746%;
 -ms-flex-wrap: wrap;
     flex-wrap: wrap;
}

.block1-text-1 {
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-orient: vertical;
 -webkit-box-direction: normal;
     -ms-flex-direction: column;
         flex-direction: column;
 -webkit-box-align: start;
     -ms-flex-align: start;
         align-items: flex-start;
 padding: 0px;
 gap: 50px;
}
@media (max-width: 600px) {
 .block1-text-1 {
  gap: 0px;
 }
}

.block1-text-1-1 {
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-orient: vertical;
 -webkit-box-direction: normal;
     -ms-flex-direction: column;
         flex-direction: column;
 -webkit-box-align: start;
     -ms-flex-align: start;
         align-items: flex-start;
 padding: 0px;
 gap: 15px;
}

.block1-text-1-1-head {
 font-family: "Roboto";
 font-style: normal;
 font-weight: 600;
 font-size: 49px;
 line-height: 57px;
 color: #FFFFFF;
}
@media (max-width: 600px) {
 .block1-text-1-1-head {
  font-size: 24px;
  line-height: 150%;
 }
}

.block1-text-1-1-body {
 font-family: "Roboto";
 font-style: normal;
 font-weight: 400;
 font-size: 24px;
 line-height: 28px;
 color: #FFFFFF;
}
@media (max-width: 600px) {
 .block1-text-1-1-body {
  font-size: 16px;
 }
}

.block1-button {
 -webkit-box-sizing: border-box;
         box-sizing: border-box;
 /* Auto layout */
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-orient: vertical;
 -webkit-box-direction: normal;
     -ms-flex-direction: column;
         flex-direction: column;
 -webkit-box-pack: center;
     -ms-flex-pack: center;
         justify-content: center;
 -webkit-box-align: center;
     -ms-flex-align: center;
         align-items: center;
 padding: 18px 30px;
 gap: 10px;
 width: 181px;
 height: 50px;
 background: #EAF4FE;
 border: 1px solid #FFFFFF;
 border-radius: 4px;
}
@media (max-width: 600px) {
 .block1-button {
  margin-top: 20px;
 }
}

.block1-button-content {
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-orient: horizontal;
 -webkit-box-direction: normal;
     -ms-flex-direction: row;
         flex-direction: row;
 -webkit-box-align: center;
     -ms-flex-align: center;
         align-items: center;
 padding: 0px;
 gap: 16px;
 width: 121px;
 height: 24px;
}

.block1-button-icon-watsapp {
 width: 24px;
 height: 24px;
}

.block1-button-text {
 font-family: "Roboto";
 font-style: normal;
 font-weight: 500;
 font-size: 18px;
 line-height: 21px;
 /* identical to box height */
 color: #252525;
}

.block2 {
 width: 100%;
 height: 100%;
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-orient: vertical;
 -webkit-box-direction: normal;
     -ms-flex-direction: column;
         flex-direction: column;
 -webkit-box-align: center;
     -ms-flex-align: center;
         align-items: center;
 padding: 0px;
 gap: 40px;
 margin: 60px 0;
}
@media (max-width: 600px) {
 .block2 {
  width: 100%;
  gap: 0px;
 }
}

.block2-top-headtext {
 font-family: "Roboto";
 font-style: normal;
 font-weight: 400;
 font-size: 24px;
 line-height: 28px;
 text-align: center;
 color: #252525;
}
@media (max-width: 600px) {
 .block2-top-headtext {
  font-size: 16px;
  line-height: 150%;
 }
}

.block2-top-bodytext {
 font-family: "Roboto";
 font-style: normal;
 font-weight: 400;
 font-size: 24px;
 margin-top: 32px;
 line-height: 28px;
 text-align: center;
 color: #252525;
}
@media (max-width: 600px) {
 .block2-top-bodytext {
  font-size: 16px;
  line-height: 150%;
 }
}

.block2-top-column {
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-orient: horizontal;
 -webkit-box-direction: normal;
     -ms-flex-direction: row;
         flex-direction: row;
 -webkit-box-pack: justify;
     -ms-flex-pack: justify;
         justify-content: space-between;
 -webkit-box-align: start;
     -ms-flex-align: start;
         align-items: flex-start;
 -ms-flex-wrap: wrap;
     flex-wrap: wrap;
 padding: 0px;
 gap: 15px;
}
@media (max-width: 600px) {
 .block2-top-column {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
 }
}

.block2-top-column-item {
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-orient: horizontal;
 -webkit-box-direction: normal;
     -ms-flex-direction: row;
         flex-direction: row;
 -ms-flex-wrap: wrap;
     flex-wrap: wrap;
 -webkit-box-align: center;
     -ms-flex-align: center;
         align-items: center;
 -webkit-box-pack: center;
     -ms-flex-pack: center;
         justify-content: center;
 width: 270px;
 height: 78px !important;
 background: #FFFFFF;
 -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
         box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
 border-radius: 4px;
 padding: 0 auto;
 margin-top: 32px;
}

.block2-main-text {
 width: 100%;
 font-family: "Roboto";
 font-style: normal;
 font-weight: 400;
 font-size: 24px;
 line-height: 28px;
 text-align: center;
 color: #252525;
 margin: 40px 0;
}

.block2-top-column-item-text {
 width: 100%;
 font-family: "Roboto";
 font-style: normal;
 font-weight: 700;
 font-size: 14px;
 line-height: 16px;
 text-align: center;
 color: #252525;
}
.block2-top-column-item-text::first-line {
 font-family: "Roboto";
 font-style: normal;
 font-weight: 300;
 font-size: 14px;
 line-height: 16px;
 text-align: center;
 color: #252525;
 width: 250px;
 height: 32px;
}

.block2-main-text {
 width: 100%;
 height: 28px;
 font-family: "Roboto";
 font-style: normal;
 font-weight: 400;
 font-size: 24px;
 line-height: 28px;
 text-align: center;
 color: #252525;
}
@media (max-width: 600px) {
 .block2-main-text {
  font-size: 16px;
  line-height: 150%;
 }
}

.block2-bottom {
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-orient: horizontal;
 -webkit-box-direction: normal;
     -ms-flex-direction: row;
         flex-direction: row;
 -webkit-box-pack: justify;
     -ms-flex-pack: justify;
         justify-content: space-between;
 -webkit-box-align: center;
     -ms-flex-align: center;
         align-items: center;
 padding: 0px;
 gap: 32px;
}
@media (max-width: 600px) {
 .block2-bottom {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
 }
}

.block2-bottom-content-wrapper {
 -webkit-box-flex: 0;
     -ms-flex: 0 1 50%;
         flex: 0 1 50%;
 min-height: 348px;
 -webkit-box-pack: justify;
     -ms-flex-pack: justify;
         justify-content: space-between;
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-orient: vertical;
 -webkit-box-direction: normal;
     -ms-flex-direction: column;
         flex-direction: column;
 padding: 30px 40px;
 width: 100vw;
 height: 100%;
 background: #FFFFFF;
 -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
         box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
 border-radius: 4px;
}
@media (max-width: 600px) {
 .block2-bottom-content-wrapper {
  gap: 20px;
  width: 100%;
 }
}

.block2-bottom-text-wrapper {
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-orient: vertical;
 -webkit-box-direction: normal;
     -ms-flex-direction: column;
         flex-direction: column;
 -webkit-box-align: start;
     -ms-flex-align: start;
         align-items: flex-start;
 padding: 0px;
 gap: 16px;
 width: 100%;
 margin: 0;
}
.block2-bottom-text-wrapper .block2__img {
 width: 50%;
}
.block2-bottom-text-wrapper .block2__img img {
 width: 100%;
}

.block2-bottom-text1 {
 font-family: "Roboto";
 font-style: normal;
 font-weight: 400;
 font-size: 24px;
 line-height: 28px;
 color: #252525;
}

.block2-bottom-text {
 font-family: "Roboto";
 font-style: normal;
 font-weight: 400;
 font-size: 14px;
 line-height: 18px;
 color: #252525;
}
.block2-bottom-text::first-line {
 font-weight: 600;
}

.block2-bottom-tel-wrapper {
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-orient: horizontal;
 -webkit-box-direction: normal;
     -ms-flex-direction: row;
         flex-direction: row;
 -webkit-box-align: center;
     -ms-flex-align: center;
         align-items: center;
 padding: 0px;
 gap: 16px;
 width: 250px;
 height: 24px;
}

.block2-bottom-tel-icon {
 width: 24px;
 height: 24px;
}

.block2-bottom-tel-text {
 font-family: "Roboto";
 font-style: normal;
 font-weight: 600;
 font-size: 18px;
 line-height: 21px;
 color: #252525;
}

.block2-bottom-img {
 width: 100%;
 height: 100%;
}

.block3 {
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-orient: vertical;
 -webkit-box-direction: normal;
     -ms-flex-direction: column;
         flex-direction: column;
 -webkit-box-align: center;
     -ms-flex-align: center;
         align-items: center;
 -webkit-box-pack: start;
     -ms-flex-pack: start;
         justify-content: flex-start;
 padding: 40px 0;
 gap: 40px;
 width: 100%;
 height: 100%;
 background: #4089D2;
}
@media (max-width: 376.98px) {
 .block3 {
  gap: 20px;
 }
}

.block3-head-text {
 font-family: "Roboto";
 font-style: normal;
 font-weight: 500;
 font-size: 46px;
 margin-bottom: 40px;
 line-height: 54px;
 text-align: center;
 color: #FFFFFF;
}
@media (max-width: 600px) {
 .block3-head-text {
  font-size: 22px;
  line-height: 150%;
 }
}

.block3-content-wrapper {
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -ms-flex-pack: distribute;
     justify-content: space-around;
}
@media (max-width: 992px) {
 .block3-content-wrapper {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
 }
}

.block3-columns {
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-orient: vertical;
 -webkit-box-direction: normal;
     -ms-flex-direction: column;
         flex-direction: column;
 -webkit-box-align: center;
     -ms-flex-align: center;
         align-items: center;
 -webkit-box-pack: justify;
     -ms-flex-pack: justify;
         justify-content: space-between;
 width: 19%;
 height: 183px;
}
@media (max-width: 992px) {
 .block3-columns {
  width: 50%;
  margin-bottom: 20px;
  padding: 0 10px;
 }
}
@media (max-width: 496px) {
 .block3-columns {
  width: 100%;
 }
}

.block3-column-number {
 margin: 0;
 font-family: "Roboto";
 font-style: normal;
 font-weight: 500;
 font-size: 100px;
 line-height: 117px;
 text-align: center;
 color: #FFFFFF;
}
@media (max-width: 496px) {
 .block3-column-number {
  font-size: 70px;
 }
}

.block3-column-text {
 font-family: "Roboto";
 font-style: normal;
 font-weight: 300;
 font-size: 20px;
 line-height: 23px;
 text-align: center;
 color: #FFFFFF;
}

.place {
 margin: 60px 0 100px;
}

.place__title {
 text-align: center;
 font-weight: 500;
 font-size: 46px;
 line-height: 1.1739130435;
 color: #252525;
 margin-bottom: 40px;
}
@media (max-width: 584px) {
 .place__title {
  font-size: 35px;
 }
}

.place__row {
 width: 100%;
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -ms-flex-wrap: wrap;
     flex-wrap: wrap;
}
.place__row:nth-child(2) {
 -webkit-box-orient: horizontal;
 -webkit-box-direction: reverse;
     -ms-flex-direction: row-reverse;
         flex-direction: row-reverse;
}
.place__row:nth-child(4) {
 -webkit-box-orient: horizontal;
 -webkit-box-direction: reverse;
     -ms-flex-direction: row-reverse;
         flex-direction: row-reverse;
}
.place__row:nth-child(6) {
 -webkit-box-orient: horizontal;
 -webkit-box-direction: reverse;
     -ms-flex-direction: row-reverse;
         flex-direction: row-reverse;
}
.place__row:nth-child(8) {
 -webkit-box-orient: horizontal;
 -webkit-box-direction: reverse;
     -ms-flex-direction: row-reverse;
         flex-direction: row-reverse;
}
@media (max-width: 584px) {
 .place__row {
  margin-bottom: 30px;
 }
 .place__row:last-child {
  margin-bottom: 0;
 }
}

.place__item {
 -webkit-box-flex: 0;
     -ms-flex: 0 1 50%;
         flex: 0 1 50%;
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-orient: vertical;
 -webkit-box-direction: normal;
     -ms-flex-direction: column;
         flex-direction: column;
 -webkit-box-pack: center;
     -ms-flex-pack: center;
         justify-content: center;
 -webkit-box-align: center;
     -ms-flex-align: center;
         align-items: center;
}
.place__item img {
 width: 100%;
}
@media (max-width: 584px) {
 .place__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  max-width: 400px;
  margin: auto;
  margin-bottom: 30px;
 }
 .place__item:last-child {
  margin-bottom: 0;
 }
}

.place__item-text {
 font-size: 24px;
 line-height: 1.1666666667;
 text-align: center;
 text-transform: uppercase;
 color: #252525;
 font-weight: 500;
}
@media (max-width: 700px) {
 .place__item-text {
  font-size: 20px;
 }
}

.block5 {
 margin: 0;
 height: 0;
}

/* WORK */
.work__title {
 font-weight: 500;
 font-size: 46px;
 line-height: 1.1739130435;
 color: #252525;
 text-align: center;
}

.work__inner {
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 margin-top: 80px;
 position: relative;
}

.work__item {
 width: 22%;
 position: relative;
 z-index: 2;
}

.work__item:nth-child(2) {
 margin-top: 120px;
}

.work__item:nth-child(4) {
 margin-top: 120px;
}

.work__item:nth-child(2) .work__content .work__content-title {
 color: #2E2793;
}

.work__item:nth-child(2) .work__content .work__content-title:after {
 background-color: #2E2793;
}

.work__item:nth-child(3) .work__content .work__content-title {
 color: #6723B8;
}

.work__item:nth-child(3) .work__content .work__content-title:after {
 background-color: #6723B8;
}

.work__item:nth-child(4) .work__content .work__content-title {
 color: #C5357C;
}

.work__item:nth-child(4) .work__content .work__content-title:after {
 background-color: #C5357C;
}

.work__item:nth-child(5) .work__content .work__content-title {
 color: #C53546;
}

.work__item:nth-child(5) .work__content .work__content-title:after {
 background-color: #C53546;
}

.work__value {
 position: absolute;
 top: -20px;
 left: 20px;
}

.work__item-block img {
 width: 100%;
}

.work__content {
 margin-left: 40px;
}

.work__content-title {
 font-weight: 700;
 font-size: 16px;
 line-height: 1.1875;
 text-transform: uppercase;
 color: #3598C5;
 position: relative;
}

.work__content-title:after {
 content: "";
 display: block;
 width: 100%;
 height: 2px;
 background-color: #3598C5;
 position: absolute;
 bottom: -10px;
 left: 0;
}

.work__content-text {
 font-weight: 300;
 font-size: 12px;
 line-height: 1.1666666667;
 color: #545757;
 margin-top: 22px;
}

.works__decor {
 position: absolute;
 bottom: 50%;
 left: 0;
 z-index: 1;
 margin-left: 50px;
}

.works__decor img {
 width: 100%;
}

@media (max-width: 1118px) {
 .work__item:nth-child(2) {
  margin-top: 80px;
 }

 .work__item:nth-child(4) {
  margin-top: 80px;
 }

 .works__decor {
  max-width: 900px;
 }
}
@media (max-width: 1030px) {
 .works__decor {
  max-width: 800px;
 }
}
@media (max-width: 938px) {
 .works__decor {
  max-width: 750px;
  margin-left: 50px;
 }
}
@media (max-width: 889px) {
 .works__decor {
  max-width: 700px;
 }
}
@media (max-width: 841px) {
 .works__decor {
  display: none;
 }

 .work__inner {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
 }

 .work__item {
  width: 33.3333%;
  margin-bottom: 40px;
 }

 .work__item:nth-child(2) {
  margin-top: 0;
 }

 .work__item:nth-child(4) {
  margin-top: 0;
 }
}
@media (max-width: 482px) {
 .work__title {
  font-size: 35px;
 }

 .work__item {
  width: 100%;
  margin-bottom: 60px;
 }

 .work__item:last-child {
  margin-bottom: 0;
 }

 .work__content {
  margin-top: -50px;
 }
}
.block6 {
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-orient: vertical;
 -webkit-box-direction: normal;
     -ms-flex-direction: column;
         flex-direction: column;
 -webkit-box-align: center;
     -ms-flex-align: center;
         align-items: center;
 -webkit-box-pack: start;
     -ms-flex-pack: start;
         justify-content: flex-start;
 padding: 0px;
 width: 125%;
 height: 100%;
}

.block6-text-wrapper {
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-orient: horizontal;
 -webkit-box-direction: normal;
     -ms-flex-direction: row;
         flex-direction: row;
 -webkit-box-align: center;
     -ms-flex-align: center;
         align-items: center;
 -ms-flex-pack: distribute;
     justify-content: space-around;
 padding: 0px;
 width: 500px;
 height: 54px;
}

.block6-text {
 font-family: "Roboto";
 font-style: normal;
 font-weight: 500;
 font-size: 46px;
 line-height: 54px;
 color: #252525;
}

.block6-maps {
 margin-top: 40px;
 width: 100%;
 height: 500px;
 z-index: -1;
}

/* Слайдер: */
.slider {
 max-width: 100%;
 /* Положение элемента устанавливается относительно его исходной позиции: */
 position: relative;
 /* Центрируем по горизонтали: */
 margin: auto;
 height: 300px;
}

/* Картинка масштабируется по отношению к родительскому элементу: */
.slider .item img {
 /* Элемент меняет размер так, чтобы заполнить блок и сохранить пропорции: */
 -o-object-fit: cover;
    object-fit: cover;
 width: 100%;
 height: 300px;
}

/* Кнопки назад и вперёд: */
.slider .previous, .slider .next {
 /* Добавляет курсору иконку, когда тот оказывается над кнопкой: */
 cursor: pointer;
 /* Положение элемента задаётся относительно границ браузера: */
 position: absolute;
 top: 43%;
 width: auto;
 margin-top: -22px;
 padding: 16px;
 /* Оформление самих кнопок: */
 color: white;
 font-weight: bold;
 font-size: 16px;
 /* Плавное появление фона при наведении курсора: */
 -webkit-transition: 0.6s ease;
 transition: 0.6s ease;
 /* Скругление границ: */
 border-radius: 0 3px 3px 0;
}

.slider .next {
 right: 0;
 border-radius: 3px 0 0 3px;
}

/* При наведении курсора на кнопки добавляем фон кнопок: */
.slider .previous:hover,
.slider .next:hover {
 background-color: rgba(0, 0, 0, 0.2);
}

/* Анимация слайдов: */
.slider .item {
 -webkit-animation-name: fade;
         animation-name: fade;
 -webkit-animation-duration: 1.5s;
         animation-duration: 1.5s;
}

@-webkit-keyframes fade {
 /* Устанавливаем и изменяем степень прозрачности: */
 from {
  opacity: 0.4;
 }
 to {
  opacity: 1;
 }
}

@keyframes fade {
 /* Устанавливаем и изменяем степень прозрачности: */
 from {
  opacity: 0.4;
 }
 to {
  opacity: 1;
 }
}
.slider {
 width: 100%;
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-orient: horizontal !important;
 -webkit-box-direction: normal !important;
     -ms-flex-direction: row !important;
         flex-direction: row !important;
 -ms-flex-wrap: wrap;
     flex-wrap: wrap;
 -webkit-box-pack: justify;
     -ms-flex-pack: justify;
         justify-content: space-between;
 height: 100%;
}

.item {
 width: 15%;
 height: 15%;
}

.item1 {
 width: 100%;
 height: 87%;
}

.slider-head-header {
 width: 590px;
 height: 28px;
 font-family: "Roboto";
 font-style: normal;
 font-weight: 500;
 font-size: 24px;
 line-height: 28px;
 text-transform: uppercase;
 /* black */
 color: #252525;
 margin: 0;
}
@media (max-width: 600px) {
 .slider-head-header {
  width: 100%;
  height: 100%;
 }
}

.slider-head-footer {
 font-family: "Roboto";
 font-style: normal;
 font-weight: 300;
 font-size: 14px;
 line-height: 16px;
 /* black */
 color: #252525;
}

.block4-content1:hover + .slider {
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
}

.slider-wrapper {
 width: 100%;
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-orient: vertical;
 -webkit-box-direction: normal;
     -ms-flex-direction: column;
         flex-direction: column;
 -webkit-box-pack: center;
     -ms-flex-pack: center;
         justify-content: center;
 -webkit-box-align: start;
     -ms-flex-align: start;
         align-items: flex-start;
}

.slider_common_wrapper {
 height: 100%;
 -webkit-box-orient: vertical !important;
 -webkit-box-direction: normal !important;
     -ms-flex-direction: column !important;
         flex-direction: column !important;
 -webkit-box-align: center;
     -ms-flex-align: center;
         align-items: center;
 -webkit-box-pack: start;
     -ms-flex-pack: start;
         justify-content: flex-start;
 display: none;
}

.slider_btn {
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-orient: vertical;
 -webkit-box-direction: normal;
     -ms-flex-direction: column;
         flex-direction: column;
 -webkit-box-pack: center;
     -ms-flex-pack: center;
         justify-content: center;
 -webkit-box-align: center;
     -ms-flex-align: center;
         align-items: center;
 padding: 0px;
 gap: 10px;
 width: 183px;
 height: 50px;
 /* blue */
 background: #4089D2;
 border-radius: 4px;
}

.slider_link {
 width: 117px;
 height: 21px;
 font-family: "Roboto";
 font-style: normal;
 font-weight: 500;
 font-size: 18px;
 line-height: 21px;
 /* identical to box height */
 color: #FFFFFF;
 text-decoration: none;
}

.slider_head_text {
 -ms-flex-wrap: wrap;
     flex-wrap: wrap;
 font-family: "Roboto";
 font-style: normal;
 font-weight: 500;
 font-size: 46px;
 line-height: 54px;
 /* identical to box height */
 text-align: center;
 /* black */
 color: #252525;
}
@media (max-width: 600px) {
 .slider_head_text {
  font-size: 24px;
  line-height: 150%;
 }
}

.slider_common_wrapper {
 width: 100%;
 gap: 10px;
}

.map {
 margin: 60px 0;
}

.map__title {
 font-size: 46px;
 line-height: 1.1739130435;
 color: #252525;
 text-align: center;
 margin-bottom: 40px;
}

.map__body {
 width: 100%;
 margin: auto;
 height: 700px;
 position: relative;
}
@media (max-width: 453px) {
 .map__body {
  height: 400px;
 }
}

.map__content {
 max-width: 300px;
 background-color: #fff;
 position: absolute;
 top: 50%;
 right: 50%;
 z-index: 2;
 -webkit-transform: translate(50%, -50%);
         transform: translate(50%, -50%);
 padding: 25px 20px 20px 20px;
 border-radius: 10px;
 -webkit-box-shadow: 3px 3px 15px -10px #000;
         box-shadow: 3px 3px 15px -10px #000;
}
.map__content.hide {
 display: none;
}

.map__content-text {
 font-size: 16px;
}
@media (max-width: 396px) {
 .map__content-text {
  font-size: 12px;
 }
}

.map__content-close {
 position: absolute;
 top: 5px;
 right: 10px;
 cursor: pointer;
}
.map__content-close svg {
 width: 25px;
 height: 25px;
 fill: rgb(133, 133, 133);
}

/* Queastions */
.questions {
 margin: 60px 0;
}

.questions__title {
 font-size: 46px;
 line-height: 1.1739130435;
 text-align: center;
 color: #252525;
 margin-bottom: 40px;
}
@media (max-width: 582px) {
 .questions__title {
  font-size: 35px;
 }
}

.questions__inner {
 max-width: 590px;
 margin: auto;
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-pack: justify;
     -ms-flex-pack: justify;
         justify-content: space-between;
 margin-bottom: 40px;
}
@media (max-width: 582px) {
 .questions__inner {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
 }
}

@media (max-width: 582px) {
 .questions__col {
  width: 100%;
  margin-bottom: 20px;
 }
 .questions__col:last-child {
  margin-bottom: 0;
 }
}

.questions__item {
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-align: center;
     -ms-flex-align: center;
         align-items: center;
 background: #EAF4FE;
 border-radius: 4px;
 padding: 18px 30px;
}
.questions__item:hover {
 background-color: #d7e4f0;
}
@media (max-width: 582px) {
 .questions__item {
  max-width: 200px;
  margin: auto;
 }
}

.questions__icon {
 margin-right: 16px;
}

.questions__text {
 font-size: 18px;
 line-height: 1.1666666667;
 color: #252525;
}

.questions__form-title {
 font-weight: 400;
 font-size: 24px;
 line-height: 1.1666666667;
 color: #252525;
 text-align: center;
 margin-bottom: 24px;
}

.questions__form-body {
 max-width: 590px;
 margin: auto;
 margin-bottom: 24px;
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-pack: justify;
     -ms-flex-pack: justify;
         justify-content: space-between;
}
.questions__form-body:last-child {
 margin-bottom: 0;
}
@media (max-width: 411px) {
 .questions__form-body {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
 }
}
.questions__form-body input {
 min-height: 40px;
 border: 1px solid #E0E0E0;
 border-radius: 4px;
 padding: 0 20px;
 font-family: "Inter", sans-serif;
 font-weight: 400;
 font-size: 14px;
 line-height: 1.2142857143;
 color: #2C2828;
 opacity: 0.6;
}
.questions__form-body input:first-child {
 width: 68%;
}
@media (max-width: 582px) {
 .questions__form-body input:first-child {
  width: 55%;
 }
}
@media (max-width: 411px) {
 .questions__form-body input:first-child {
  width: 100%;
  margin-bottom: 24px;
 }
}
.questions__form-body input:last-child {
 width: 28%;
}
@media (max-width: 582px) {
 .questions__form-body input:last-child {
  width: 40%;
 }
}
@media (max-width: 411px) {
 .questions__form-body input:last-child {
  width: 100%;
 }
}
.questions__form-body input:focus {
 outline: 0;
 -webkit-box-shadow: 3px 3px 15px -10px #000;
         box-shadow: 3px 3px 15px -10px #000;
}
.questions__form-body textarea {
 width: 100%;
 resize: none;
 font-family: "Inter", sans-serif;
 font-weight: 400;
 font-size: 14px;
 line-height: 1.2142857143;
 color: #2C2828;
 opacity: 0.6;
 padding: 11px 20px;
 border: 1px solid #E0E0E0;
 border-radius: 4px;
}
.questions__form-body textarea:focus {
 outline: 0;
 -webkit-box-shadow: 3px 3px 15px -10px #000;
         box-shadow: 3px 3px 15px -10px #000;
}

.questions__btn {
 max-width: 183px;
 margin: auto;
 margin-top: 24px;
}

.btn {
 font-size: 18px;
 line-height: 1.1666666667;
 color: #FFFFFF;
 background: #4089D2;
 border-radius: 4px;
 min-height: 50px;
 width: 100%;
 cursor: pointer;
}
.btn:hover {
 background-color: #2b70b4;
}

.header2 {
 font-family: "Roboto";
 font-style: normal;
 font-weight: 400;
 font-size: 24px;
 line-height: 28px;
 /* black */
 color: #252525;
 text-align: center;
}

.form_top {
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 width: 100%;
 -webkit-box-pack: justify;
     -ms-flex-pack: justify;
         justify-content: space-between;
 gap: 24px;
 -ms-flex-wrap: wrap;
     flex-wrap: wrap;
}
.form_top > * {
 border: 1px solid #E0E0E0;
 border-radius: 4px;
}

.input_text {
 -webkit-box-flex: 2;
     -ms-flex-positive: 2;
         flex-grow: 2;
 height: 40px;
}

.input_tel {
 -webkit-box-flex: 1;
     -ms-flex-positive: 1;
         flex-grow: 1;
 height: 40px;
}

.form_bottom {
 width: 100%;
 position: relative;
 padding: 10px;
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-orient: vertical;
 -webkit-box-direction: normal;
     -ms-flex-direction: column;
         flex-direction: column;
 -webkit-box-pack: justify;
     -ms-flex-pack: justify;
         justify-content: space-between;
 -webkit-box-align: center;
     -ms-flex-align: center;
         align-items: center;
}
.form_bottom > input, .form_bottom textarea {
 width: 580px;
 height: 160px;
}
.form_bottom > input::-webkit-input-placeholder, .form_bottom textarea::-webkit-input-placeholder {
 font-family: "Inter";
 font-style: normal;
 font-weight: 400;
 font-size: 14px;
 line-height: 17px;
 /* identical to box height */
 /* black */
 color: #2C2828;
 opacity: 0.6;
}
.form_bottom > input::-moz-placeholder, .form_bottom textarea::-moz-placeholder {
 font-family: "Inter";
 font-style: normal;
 font-weight: 400;
 font-size: 14px;
 line-height: 17px;
 /* identical to box height */
 /* black */
 color: #2C2828;
 opacity: 0.6;
}
.form_bottom > input:-ms-input-placeholder, .form_bottom textarea:-ms-input-placeholder {
 font-family: "Inter";
 font-style: normal;
 font-weight: 400;
 font-size: 14px;
 line-height: 17px;
 /* identical to box height */
 /* black */
 color: #2C2828;
 opacity: 0.6;
}
.form_bottom > input::-ms-input-placeholder, .form_bottom textarea::-ms-input-placeholder {
 font-family: "Inter";
 font-style: normal;
 font-weight: 400;
 font-size: 14px;
 line-height: 17px;
 /* identical to box height */
 /* black */
 color: #2C2828;
 opacity: 0.6;
}
.form_bottom > input::placeholder, .form_bottom textarea::placeholder {
 font-family: "Inter";
 font-style: normal;
 font-weight: 400;
 font-size: 14px;
 line-height: 17px;
 /* identical to box height */
 /* black */
 color: #2C2828;
 opacity: 0.6;
}
@media (max-width: 600px) {
 .form_bottom > input, .form_bottom textarea {
  width: 100%;
 }
}

textarea {
 height: 180px;
}
textarea:hover + .placeholder {
 display: none !important;
}

div.placeholder {
 border: 1px solid red;
 position: absolute;
 top: 20px;
 left: 20px;
 z-index: 3;
 font-family: "Inter";
 font-style: normal;
 font-weight: 400;
 font-size: 14px;
 line-height: 17px;
 /* identical to box height */
 /* black */
 color: black;
 opacity: 0.6;
}

.footer {
 position: relative;
 width: 100%;
 top: 100%;
 height: 84px;
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-align: center;
     -ms-flex-align: center;
         align-items: center;
 -webkit-box-pack: end;
     -ms-flex-pack: end;
         justify-content: flex-end;
 background-color: #2E3848;
 padding-right: 15%;
}

.copyright {
 font-family: "Roboto";
 font-style: normal;
 font-weight: 400;
 font-size: 12px;
 line-height: 14px;
 /* identical to box height */
 color: #FFFFFF;
}

.slider_link {
 width: 100%;
 height: 100%;
 opacity: 0;
}

.submit_text {
 font-family: "Roboto";
 font-style: normal;
 font-weight: 500;
 font-size: 18px;
 line-height: 21px;
 /* identical to box height */
 color: #FFFFFF;
 -ms-flex-item-align: center;
     -ms-grid-row-align: center;
     align-self: center;
}

.button_text {
 margin-top: -20px;
}

.block4-image {
 height: 408px;
 width: 50%;
}

.block4-content1 > .block4-image {
 background-image: url(img/main/block4/image1.png);
 background-size: cover;
}

.block4-content2 > .block4-image {
 background-image: url(img/main/block4/image2.png);
 background-size: cover;
}

.block4-content3 > .block4-image {
 background-image: url(img/main/block4/image3.png);
 background-size: cover;
}

.block4-content4 > .block4-image {
 background-image: url(img/main/block4/image4.png);
 background-size: cover;
}

.block4-content5 > .block4-image {
 background-image: url(img/main/block4/image5.png);
 background-size: cover;
}

.block4-content6 > .block4-image {
 background-image: url(img/main/block4/image6.png);
 background-size: cover;
}

.block4-content7 > .block4-image {
 background-image: url(img/main/block4/image7.png);
 background-size: cover;
}

.block4-content8 > .block4-image {
 background-image: url(img/main/block4/image8.png);
 background-size: cover;
}

.block4-content9 > .block4-image {
 background-image: url(img/main/block4/image9.png);
 background-size: cover;
}

.Name-company {
 font-family: Roboto;
 font-weight: 700;
 font-size: 24px;
 text-align: center;
 line-height: 28.13px;
}

.block2-bottom-text1 {
 width: 100% !important;
}

.block4 {
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-orient: vertical;
 -webkit-box-direction: normal;
     -ms-flex-direction: column;
         flex-direction: column;
 -webkit-box-align: center;
     -ms-flex-align: center;
         align-items: center;
 margin: 0;
 gap: 40px;
 width: 100%;
}

.block4-head {
 font-family: "Roboto";
 font-style: normal;
 font-weight: 500;
 font-size: 46px;
 line-height: 54px;
 /* identical to box height */
 text-align: center;
 color: #252525;
}

.block4-content-wrapper {
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-orient: vertical;
 -webkit-box-direction: normal;
     -ms-flex-direction: column;
         flex-direction: column;
 -webkit-box-align: center;
     -ms-flex-align: center;
         align-items: center;
 padding: 0px;
 width: 100%;
}
@media (max-width: 600px) {
 .block4-content-wrapper {
  width: 100%;
 }
}

.block4-content1, .block4-content3, .block4-content5, .block4-content7, .block4-content9 {
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-orient: horizontal;
 -webkit-box-direction: normal;
     -ms-flex-direction: row;
         flex-direction: row;
 -webkit-box-pack: justify;
     -ms-flex-pack: justify;
         justify-content: space-between;
 -webkit-box-align: center;
     -ms-flex-align: center;
         align-items: center;
 padding: 0px;
 width: 100%;
}
@media (max-width: 600px) {
 .block4-content1, .block4-content3, .block4-content5, .block4-content7, .block4-content9 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
 }
 .block4-content1 > .block4-image, .block4-content3 > .block4-image, .block4-content5 > .block4-image, .block4-content7 > .block4-image, .block4-content9 > .block4-image {
  width: 100% !important;
 }
}

.block4-content2, .block4-content4, .block4-content6, .block4-content8 {
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-orient: horizontal;
 -webkit-box-direction: normal;
     -ms-flex-direction: row;
         flex-direction: row;
 -webkit-box-pack: justify;
     -ms-flex-pack: justify;
         justify-content: space-between;
 -webkit-box-align: center;
     -ms-flex-align: center;
         align-items: center;
 padding: 0px;
 width: 100%;
}
.block4-content2 > .block4-image, .block4-content4 > .block4-image, .block4-content6 > .block4-image, .block4-content8 > .block4-image {
 -webkit-box-ordinal-group: 3;
     -ms-flex-order: 2;
         order: 2;
}
@media (max-width: 600px) {
 .block4-content2, .block4-content4, .block4-content6, .block4-content8 {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
 }
 .block4-content2 > .block4-image, .block4-content4 > .block4-image, .block4-content6 > .block4-image, .block4-content8 > .block4-image {
  width: 100% !important;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
 }
}

.block4-text-wrapper {
 width: 50%;
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-pack: center;
     -ms-flex-pack: center;
         justify-content: center;
}

.block4-text {
 font-family: "Roboto";
 font-style: normal;
 font-weight: 500;
 font-size: 24px;
 line-height: 28px;
 text-transform: uppercase;
}
@media (max-width: 376.98px) {
 .block4-text {
  font-size: 12px;
  line-height: 150%;
 }
}

.block4-content2 > img, .block4-content1 > img {
 width: 50%;
 margin: 0;
 padding: 0;
}

.block5 {
 margin: 0;
 height: 0;
}

.block6 {
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-orient: vertical;
 -webkit-box-direction: normal;
     -ms-flex-direction: column;
         flex-direction: column;
 -webkit-box-align: center;
     -ms-flex-align: center;
         align-items: center;
 -webkit-box-pack: start;
     -ms-flex-pack: start;
         justify-content: flex-start;
 padding: 0px;
 width: 125%;
 height: 100%;
}

.block6-text-wrapper {
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-orient: horizontal;
 -webkit-box-direction: normal;
     -ms-flex-direction: row;
         flex-direction: row;
 -webkit-box-align: center;
     -ms-flex-align: center;
         align-items: center;
 -ms-flex-pack: distribute;
     justify-content: space-around;
 padding: 0px;
 width: 500px;
 height: 54px;
}

.block6-text {
 font-family: "Roboto";
 font-style: normal;
 font-weight: 500;
 font-size: 46px;
 line-height: 54px;
 color: #252525;
}

.block6-maps {
 margin-top: 40px;
 width: 100%;
 height: 500px;
 z-index: -1;
}

/* Слайдер: */
.slider {
 max-width: 100%;
 /* Положение элемента устанавливается относительно его исходной позиции: */
 position: relative;
 /* Центрируем по горизонтали: */
 margin: auto;
 height: 300px;
}

/* Картинка масштабируется по отношению к родительскому элементу: */
.slider .item img {
 /* Элемент меняет размер так, чтобы заполнить блок и сохранить пропорции: */
 -o-object-fit: cover;
    object-fit: cover;
 width: 100%;
 height: 300px;
}

/* Кнопки назад и вперёд: */
.slider .previous, .slider .next {
 /* Добавляет курсору иконку, когда тот оказывается над кнопкой: */
 cursor: pointer;
 /* Положение элемента задаётся относительно границ браузера: */
 position: absolute;
 top: 43%;
 width: auto;
 margin-top: -22px;
 padding: 16px;
 /* Оформление самих кнопок: */
 color: white;
 font-weight: bold;
 font-size: 16px;
 /* Плавное появление фона при наведении курсора: */
 -webkit-transition: 0.6s ease;
 transition: 0.6s ease;
 /* Скругление границ: */
 border-radius: 0 3px 3px 0;
}

.slider .next {
 right: 0;
 border-radius: 3px 0 0 3px;
}

/* При наведении курсора на кнопки добавляем фон кнопок: */
.slider .previous:hover,
.slider .next:hover {
 background-color: rgba(0, 0, 0, 0.2);
}

/* Анимация слайдов: */
.slider .item {
 -webkit-animation-name: fade;
         animation-name: fade;
 -webkit-animation-duration: 1.5s;
         animation-duration: 1.5s;
}

@keyframes fade {
 /* Устанавливаем и изменяем степень прозрачности: */
 from {
  opacity: 0.4;
 }
 to {
  opacity: 1;
 }
}
.slider {
 width: 100%;
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-orient: horizontal !important;
 -webkit-box-direction: normal !important;
     -ms-flex-direction: row !important;
         flex-direction: row !important;
 -ms-flex-wrap: wrap;
     flex-wrap: wrap;
 -webkit-box-pack: justify;
     -ms-flex-pack: justify;
         justify-content: space-between;
 height: 100%;
}

.item {
 width: 15%;
 height: 15%;
}

.item1 {
 width: 100%;
 height: 87%;
}

.slider-head-header {
 width: 590px;
 height: 28px;
 font-family: "Roboto";
 font-style: normal;
 font-weight: 500;
 font-size: 24px;
 line-height: 28px;
 text-transform: uppercase;
 /* black */
 color: #252525;
 margin: 0;
}
@media (max-width: 600px) {
 .slider-head-header {
  width: 100%;
  height: 100%;
 }
}

.slider-head-footer {
 font-family: "Roboto";
 font-style: normal;
 font-weight: 300;
 font-size: 14px;
 line-height: 16px;
 /* black */
 color: #252525;
}

.block4-content1:hover + .slider {
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
}

.slider-wrapper {
 width: 100%;
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-orient: vertical;
 -webkit-box-direction: normal;
     -ms-flex-direction: column;
         flex-direction: column;
 -webkit-box-pack: center;
     -ms-flex-pack: center;
         justify-content: center;
 -webkit-box-align: start;
     -ms-flex-align: start;
         align-items: flex-start;
}

.slider_common_wrapper {
 height: 100%;
 -webkit-box-orient: vertical !important;
 -webkit-box-direction: normal !important;
     -ms-flex-direction: column !important;
         flex-direction: column !important;
 -webkit-box-align: center;
     -ms-flex-align: center;
         align-items: center;
 -webkit-box-pack: start;
     -ms-flex-pack: start;
         justify-content: flex-start;
 display: none;
}

.slider_btn {
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-orient: vertical;
 -webkit-box-direction: normal;
     -ms-flex-direction: column;
         flex-direction: column;
 -webkit-box-pack: center;
     -ms-flex-pack: center;
         justify-content: center;
 -webkit-box-align: center;
     -ms-flex-align: center;
         align-items: center;
 padding: 0px;
 gap: 10px;
 width: 183px;
 height: 50px;
 /* blue */
 background: #4089D2;
 border-radius: 4px;
}

.slider_link {
 width: 117px;
 height: 21px;
 font-family: "Roboto";
 font-style: normal;
 font-weight: 500;
 font-size: 18px;
 line-height: 21px;
 /* identical to box height */
 color: #FFFFFF;
 text-decoration: none;
}

.slider_head_text {
 -ms-flex-wrap: wrap;
     flex-wrap: wrap;
 font-family: "Roboto";
 font-style: normal;
 font-weight: 500;
 font-size: 46px;
 line-height: 54px;
 /* identical to box height */
 text-align: center;
 /* black */
 color: #252525;
}
@media (max-width: 600px) {
 .slider_head_text {
  font-size: 24px;
  line-height: 150%;
 }
}

.slider_common_wrapper {
 width: 100%;
 gap: 10px;
}

.slider-bottom-head, .list-item, .slider-bottom-footer {
 font-family: "Roboto";
 font-style: normal;
 font-weight: 400;
 font-size: 14px;
 line-height: 16px;
 /* black */
 color: #252525;
}

.place > .container {
 gap: 60px;
}

.slider_link {
 font-family: "Roboto";
 font-style: normal;
 font-weight: 500;
 font-size: 18px;
 line-height: 21px;
 /* identical to box height */
 color: #FFFFFF;
 text-decoration: none;
 z-index: 2;
}