@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
// html {font-size: 62.5%;}body,html {margin: 0;padding: 0;height: 100%;}*,*:before,*:after {box-sizing: border-box;}
body {font-family: 'Roboto', sans-serif;font-weight: 500;}
// ul, ol, li {list-style: none;margin: 0;padding: 0;}button {border: 0;padding: 0;}h1, h2, h3, h4, h5, h6 {margin: 0;padding:0;}a {text-decoration: none;}p {margin: 0; padding: 0}

.body-wrapper{
min-height: 100%;
overflow: hidden;
display: flex;
flex-direction: column;
}
.container {
    width: 100%;
    padding: 0 15px;
    margin: auto;
    max-width: 1200px;
}
.main{
    flex: 1 1 auto;
}
.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 30px;
    width: 100%;
    height: 100%;
    flex-wrap: nowrap;
    position: relative;
    z-index: 2;
    background :url("img/main/block1/block1-background.png") center no-repeat;
    background-size: cover;
    -webkit-background-size: cover;

    &:after {
        content: "";
        width: 50%;
        height: 100%;
        background: rgba(37, 37, 37, 0.4);
        backdrop-filter: blur(2px);

        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;

        @media (max-width: 871px) {
            width: 70%;
        }
    }
}
.header{
    width: 100%;
    background-color: #fff;
    min-height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header__body {
    display: flex;
    justify-content: space-between;
}
.header-menu{
    display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: center;
// width: 100%;
height: 100%;
padding: 0px;
gap: 50px;
@media (max-width: 600px){
}
}
.header-logo{
    width: 52px;
    height: 60px;
}
.header-menu-1{
    display: flex;
flex-direction: row;
align-items: flex-start;
// width: 100%;
height: 100%;
flex-wrap: wrap;
padding: 15px 0px 0px;
gap: 20px;
@media (max-width: 860px) {
    flex-direction: column;
    align-items: start;
}
@media (max-width: 600px){
   display: none;
}
}
.header-menu-montash{
    display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 5px;

    @media (max-width: 860px) {
        flex-wrap: wrap;
    }
}
.header-menu-montash, .header-menu-proectirovanie {
    display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 5px;

    @media (max-width: 860px) {
    }
}
.menu-text {
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
/* identical to box height */
color: #252525;

@media (max-width: 992px) {
    font-size: 12px;
}
}
.menu-text-montash-img {
    width: 16px;
    height: 16px;
}

.header-wrapper-tel {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 50px;
    @media (max-width: 1073px) {
        gap: 20px;
    }
    @media (max-width: 600px){
        display: none;
    }

}
.header-tel{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}
.header-search {
    width: 24px;
    height: 24px;
}
.header-tel-icon {
    width: 22px;
    height: 21px;
}
.header-tel-text {
    font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 27px;
color: #252525;

    @media (max-width: 1073px) {
        font-size: 16px;
    }
}

// header ended


// block1 beginned

.block1-wrapper{
    width: 100%;
    height: 650px / 790px * 100vh;
    @media (max-width: 600px){
        height: 500px;
    }
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    padding-bottom: 30px;
}
.block1 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    height: 100%;
}
.block1_arrow{
    width: 100%;
    display: flex;
    order: 2;
    justify-content: space-between;
    z-index: 3;
    align-self:center;
    margin-left: 100px;
    margin-right: 100px;

    @media (max-width: 477px) {
        margin-left: 20px;
        margin-right: 20px;
    }
}
img.block1_arrow{
    width: 52px;
    height: 20px;
}
.block1-text-wrapper {
    display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 30px 30px 30px 50px;


@media (max-width: 600px){
    padding: 0px;
    padding-left: 30px;
    padding-top: 80px;
    width: 100%;
}
gap: 10px;
// position: absolute;
width: 710px / 1440px * 125%;
height: 88%;
margin-top: 25px;
z-index: 2;
// left: 0px;
// top: 11.6%;
}
.block1-text {
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
width: 508px / 710px * 100%;
flex-wrap: wrap;

}
.block1-text-1 {
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 50px;
@media (max-width: 600px){
    gap:0px;
    }
}
.block1-text-1-1 {
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 15px;
}
.block1-text-1-1-head {
    font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 49px;
@media (max-width: 600px){
    font-size: 24px;
    line-height: 150%;
}
line-height: 57px;
color: #FFFFFF;
}
.block1-text-1-1-body {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
@media (max-width: 600px){
    font-size: 16px;
}
line-height: 28px;
color: #FFFFFF;
}
.block1-button {
    box-sizing: border-box;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 18px 30px;
gap: 10px;
width: 181px;
height: 50px;

background: #EAF4FE;
border: 1px solid #FFFFFF;
border-radius: 4px;

@media (max-width: 600px) {
    margin-top: 20px;
}
}
.block1-button-content {
    display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 16px;
width: 121px;
height: 24px;
}
.block1-button-icon-watsapp {
    width: 24px;
    height: 24px;
}
.block1-button-text {
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
/* identical to box height */
color: #252525;
}
// block1 ended


// block2 begin

.block2 {
width: 100%;
height: 100%;
// margin-top: 50%;
// position: inherit;
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 40px;
margin: 60px 0;

@media (max-width: 600px){
width: 100%;
gap: 0px;
    }
}

.block2-top-headtext {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
@media (max-width: 600px) {
    font-size: 16px; 
    line-height: 150%;
}
line-height: 28px;
text-align: center;

color: #252525;
}
.block2-top-bodytext {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
margin-top: 32px;
@media (max-width: 600px) {
    font-size: 16px; 
    line-height: 150%;
}
line-height: 28px;
text-align: center;

color: #252525;
}
.block2-top-column {
    display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
@media (max-width: 600px){
    align-items: center;
    justify-content: center;
}
flex-wrap: wrap;
padding: 0px;
gap: 15px;
}
.block2-top-column-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 78px !important;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 0 auto;
    margin-top: 32px;
}
.block2-main-text{
    width: 100%;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;
text-align: center;
color: #252525;
margin: 40px 0;
}
.block2-top-column-item-text {
    width: 100%;
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
text-align: center;
color: #252525;

&::first-line{
    font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 16px;
text-align: center;
color: #252525;
width: 250px;
height: 32px;
}
}
.block2-main-text {
    width: 100%;
height: 28px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
@media (max-width: 600px) {
    font-size: 16px; 
    line-height: 150%;
}
line-height: 28px;
text-align: center;
color: #252525;
}
.block2-bottom {
    display: flex;
flex-direction: row;
justify-content: space-between;
// flex-wrap: wrap;
@media (max-width: 600px) {
    flex-direction: column;
    align-items: center;
}
align-items: center;
padding: 0px;
gap: 32px;
// height: 408px;
}
.block2-bottom-content-wrapper {
    flex: 0 1 50%;
    min-height: 348px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
padding: 30px 40px;
@media (max-width: 600px) {
    gap: 20px;
    width: 100%;
}
width: 100vw;
height: 100%;
background: #FFFFFF;
box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
border-radius: 4px;
}
.block2-bottom-text-wrapper {
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;
width: 100%;
margin: 0;

.block2__img {
    width: 50%;

    img {
        width: 100%;
    }
}
// width: 344px;
// height: 224px;
}
.block2-bottom-text1{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;
color: #252525;
}
.block2-bottom-text {
    font-family: 'Roboto';
font-style: normal;
    &::first-line{
        font-weight: 600;
    }
font-weight: 400;
font-size: 14px;
line-height: 18px;
color: #252525;
}
.block2-bottom-tel-wrapper {
    display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 16px;

width: 250px;
height: 24px;
}
.block2-bottom-tel-icon {
    width: 24px;
    height: 24px;
}
.block2-bottom-tel-text {
    font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 21px;
color: #252525;
}
.block2-bottom-img {
    width: 100%;
    height: 100%;
}


// block2 ended


// block3 begin


.block3 {
    display: flex;
flex-direction: column;
align-items:center;
justify-content:flex-start;
padding: 40px 0;
// padding: 40px 211px;
gap: 40px;
@media (max-width: 376.98px){
    gap: 20px;
}
width: 100%;
height: 100%;
background: #4089D2;
}
.block3-head-text {
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 46px;
margin-bottom: 40px;
@media (max-width: 600px) {
    font-size: 22px; 
    line-height: 150%;
}
line-height: 54px;
text-align: center;
color: #FFFFFF;
}
.block3-content-wrapper {
    // margin-top: -8%;
    display: flex;
    justify-content: space-around;

    @media (max-width: 992px) {
        flex-wrap: wrap;
    }
}
.block3-columns {
    display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
// gap: 20px;

width: 19%;
height: 183px;

    @media (max-width: 992px) {
        width: 50%;
        margin-bottom: 20px;
        padding: 0 10px;
    }

    @media (max-width: 496px) {
        width: 100%;
    }

}
.block3-column-number {
    margin: 0;
    font-family: 'Roboto';

font-style: normal;
font-weight: 500;
font-size: 100px;
line-height: 117px;
text-align: center;
color: #FFFFFF;

@media (max-width: 496px) {
    font-size: 70px;
}
}
.block3-column-text {
    // margin-top: -40%;

    font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 23px;
text-align: center;
color: #FFFFFF;
}

// block3 ended

// block4 begin


.place {
    margin: 60px 0 100px;
}
.place__title {
    text-align: center;

    font-weight: 500;
    font-size: 46px;
    line-height: calc(54 / 46);
    color: #252525;
    margin-bottom: 40px;

    @media (max-width: 584px) {
        font-size: 35px;
    }
}
.place__row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    &:nth-child(2) {
        flex-direction: row-reverse;
    }

    &:nth-child(4) {
        flex-direction: row-reverse;
    }

    &:nth-child(6) {
        flex-direction: row-reverse;
    }

    &:nth-child(8) {
        flex-direction: row-reverse;
    }

    @media (max-width: 584px) {
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}
.place__item {
    flex: 0 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
        width: 100%;
    }

    @media (max-width: 584px) {
        flex: 1 1 100%;
        max-width: 400px;
        margin: auto;
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}
.place__item-text {
    font-size: 24px;
    line-height: calc(28 / 24);
    text-align: center;
    text-transform: uppercase;
    color: #252525;
    font-weight: 500;

    @media (max-width: 700px) {
        font-size: 20px;
    }
}

// block5 beginned

.block5{
    margin: 0;
    height: 0;
    
}

/* WORK */

.work__title {
    font-weight: 500;
    font-size: 46px;
    line-height: calc(54 / 46);
    color: #252525;
    text-align: center;
}
.work__inner {
    display: flex;
    margin-top: 80px;
    position: relative;
}
.work__item {
    width: 22%;
    position: relative;
    z-index: 2;
}
.work__item:nth-child(2) {
    margin-top: 120px;
}
.work__item:nth-child(4) {
    margin-top: 120px;
}
.work__item:nth-child(2) .work__content .work__content-title {
    color: #2E2793;
}
.work__item:nth-child(2) .work__content .work__content-title:after {
    background-color: #2E2793;
}
.work__item:nth-child(3) .work__content .work__content-title {
    color: #6723B8;
}
.work__item:nth-child(3) .work__content .work__content-title:after {
    background-color: #6723B8;
}
.work__item:nth-child(4) .work__content .work__content-title {
    color: #C5357C;
}
.work__item:nth-child(4) .work__content .work__content-title:after {
    background-color: #C5357C;
}
.work__item:nth-child(5) .work__content .work__content-title {
    color: #C53546;
}
.work__item:nth-child(5) .work__content .work__content-title:after {
    background-color: #C53546;
}
.work__value {
    position: absolute;
    top: -20px;
    left: 20px;
}

.work__item-block img {
    width: 100%;
}
.work__content {
    margin-left: 40px;
}
.work__content-title {
    font-weight: 700;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-transform: uppercase;
    color: #3598C5;
    position: relative;
}
.work__content-title:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #3598C5;

    position: absolute;
    bottom: -10px;
    left: 0;
}
.work__content-text {
    font-weight: 300;
    font-size: 12px;
    line-height: calc(14 / 12);
    color: #545757;
    margin-top: 22px;
}
.works__decor {
    position: absolute;
    bottom: 50%;
    left: 0;
    z-index: 1;
    margin-left: 50px;
}
.works__decor img {
    width: 100%;
}

@media (max-width: 1118px) {
    .work__item:nth-child(2) {
        margin-top: 80px;
    }
    .work__item:nth-child(4) {
        margin-top: 80px;
    }

    .works__decor {
        max-width: 900px;
    }
}

@media (max-width: 1030px) {
    .works__decor {
        max-width: 800px;
    }
}

@media (max-width: 938px) {
    .works__decor {
        max-width: 750px;
        margin-left: 50px;
    }
}

@media (max-width: 889px) {
    .works__decor {
        max-width: 700px;
    }
}

@media (max-width: 841px) {
    .works__decor {
        display: none;
    }

    .work__inner {
        flex-wrap: wrap;
        justify-content: center;
    }

    .work__item {
        width: 33.3333%;
        margin-bottom: 40px;
    }

    .work__item:nth-child(2) {
        margin-top: 0;
    }
    .work__item:nth-child(4) {
        margin-top: 0;
    }
}

@media (max-width: 482px) {
    .work__title {
        font-size: 35px;
    }
    .work__item {
        width: 100%;
        margin-bottom: 60px;
    }
    .work__item:last-child {
        margin-bottom: 0;
    }
    .work__content {
        margin-top: -50px;
    }
}

// block5 ended

// block6 beginned
.block6 {
    display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
padding: 0px;
width: 125%;
height: 100%;
}
.block6-text-wrapper {
    display: flex;
flex-direction: row;
align-items: center;
justify-content: space-around;
padding: 0px;
width: 500px;
height: 54px;
// margin-top: -54px;

}
.block6-text {
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 46px;
line-height: 54px;
color: #252525;
}
.block6-maps {
    margin-top: 40px;
    width: 100%;
    height: 500px;
    z-index: -1;
}


/* Слайдер: */
.slider{
    max-width: 100%;
    /* Положение элемента устанавливается относительно его исходной позиции: */
    position: relative;
    /* Центрируем по горизонтали: */
    margin: auto;
    height: 300px;
}

/* Картинка масштабируется по отношению к родительскому элементу: */
.slider .item img {
    /* Элемент меняет размер так, чтобы заполнить блок и сохранить пропорции: */
    object-fit: cover;
    width: 100%;
    height: 300px;
}

/* Кнопки назад и вперёд: */
.slider .previous, .slider .next {
    /* Добавляет курсору иконку, когда тот оказывается над кнопкой: */
    cursor: pointer;
    /* Положение элемента задаётся относительно границ браузера: */
    position: absolute;
    top: 43%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    /* Оформление самих кнопок: */
    color: white;
    font-weight: bold;
    font-size: 16px;
    /* Плавное появление фона при наведении курсора: */
    transition: 0.6s ease;
    /* Скругление границ: */
    border-radius: 0 3px 3px 0;
}
.slider .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* При наведении курсора на кнопки добавляем фон кнопок: */
.slider .previous:hover,
.slider .next:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

/* Анимация слайдов: */
.slider .item {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    /* Устанавливаем и изменяем степень прозрачности: */
    from {
        opacity: 0.4
    }
    to {
        opacity: 1
    }
}
.slider{
    width: 100%;
    display: flex;
    flex-direction: row !important;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
}
.item{
    width: 15%;
    height:15%
}
.item1{
    width: 100%;
    height: 87%;
}

.slider-head-header{
    width: 590px;
height: 28px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;
text-transform: uppercase;
/* black */
color: #252525;
margin: 0;
@media (max-width: 600px){
    width: 100%;
    height: 100%;
}
}
.slider-head-footer{
    font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 16px;
/* black */
color: #252525;
}
.block4-content1:hover{
    &+.slider{
        display: flex;
        // transition: 10s;
    }
}
.slider-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.slider_common_wrapper{
    height: 100%;
    flex-direction: column !important;
    align-items: center;
    justify-content: flex-start;
    display: none;
}
.slider_btn{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

width: 183px;
height: 50px;
/* blue */
background: #4089D2;
border-radius: 4px;
}
.slider_link{
    width: 117px;
height: 21px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
/* identical to box height */
color: #FFFFFF;
text-decoration: none;
}
.slider_head_text{
    flex-wrap: wrap;
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 46px;
line-height: 54px;
@media (max-width: 600px){
    font-size: 24px;
    line-height: 150%;
}
/* identical to box height */
text-align: center;
/* black */
color: #252525;
}
.slider_common_wrapper{
    width: 100%;
    gap: 10px;
}

.map {
    margin: 60px 0;
}
.map__title {
    font-size: 46px;
    line-height: calc(54 / 46);
    color: #252525;
    text-align: center;
    margin-bottom: 40px;
}
.map__body {
    width: 100%;
    margin: auto;
    height: 700px;
    position: relative;

    @media (max-width: 453px) {
        height: 400px;
    }
}
.map__content {
    max-width: 300px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    right: 50%;
    z-index: 2;
    transform: translate(50%, -50%);
    padding: 25px 20px 20px 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 15px -10px #000;

    &.hide {
        display: none;
    }
}
.map__content-text {
    font-size: 16px;

    @media (max-width: 396px) {
        font-size: 12px;
    }
}
.map__content-close {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    svg {
        width: 25px;
        height: 25px;
        fill: rgb(133, 133, 133);
    }
}

/* Queastions */

.questions {
    margin: 60px 0;
}
.questions__title {
    font-size: 46px;
    line-height: calc(54 / 46);
    text-align: center;
    color: #252525;  
    
    margin-bottom: 40px;

    @media (max-width: 582px) {
        font-size: 35px;
    }
}
.questions__inner {
    max-width: 590px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;

    @media (max-width: 582px) {
        flex-wrap: wrap;
    }
}
.questions__col {
    @media (max-width: 582px) {
        width: 100%;
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}
.questions__item {
    display: flex;
    align-items: center;
    background: #EAF4FE;
    border-radius: 4px;
    padding: 18px 30px;

    &:hover {
        background-color: #d7e4f0;
    }

    @media (max-width: 582px) {
        max-width: 200px;
        margin: auto;
    }
}
.questions__icon {
    margin-right: 16px;
}
.questions__text {
    font-size: 18px;
    line-height: calc(21/ 18);
    color: #252525;
}

.questions__form-title {
    font-weight: 400;
    font-size: 24px;
    line-height: calc(28 / 24);
    color: #252525;
    text-align: center;
    margin-bottom: 24px;
}
.questions__form-body {
    max-width: 590px;
    margin: auto;
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;

    &:last-child {
        margin-bottom: 0;
    }

    @media (max-width: 411px) {
        flex-wrap: wrap;
    }

    input {
        min-height: 40px;
        border: 1px solid #E0E0E0;
        border-radius: 4px;
        padding: 0 20px;

        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: calc(17 / 14);
        color: #2C2828;
        opacity: 0.6;

        &:first-child {
            width: 68%;

            @media (max-width: 582px) {
                width: 55%;
            }

            @media (max-width: 411px) {
                width: 100%;
                margin-bottom: 24px;
            }
        }

        &:last-child {
            width: 28%;

            @media (max-width: 582px) {
                width: 40%;
            }

            @media (max-width: 411px) {
                width: 100%;
            }
        }

        &:focus {
            outline: 0;
            box-shadow: 3px 3px 15px -10px #000;
        }
    }

    textarea {
        width: 100%;
        resize: none;
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: calc(17 / 14);
        color: #2C2828;
        opacity: 0.6;
        padding: 11px 20px;

        border: 1px solid #E0E0E0;
        border-radius: 4px;

        &:focus {
            outline: 0;
            box-shadow: 3px 3px 15px -10px #000;
        }
    }
}

.questions__btn {
    max-width: 183px;
    margin: auto;
    margin-top: 24px;
}

.btn {
    font-size: 18px;
    line-height: calc(21 / 18);
    color: #FFFFFF;
    background: #4089D2;
    border-radius: 4px;
    min-height: 50px;
    width: 100%;
    cursor: pointer;

    &:hover {
        background-color: darken(#4089D2, 10%);
    }
}

.header2{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;
/* black */
color: #252525;
text-align: center;
}
.form_top{
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 24px;
    flex-wrap: wrap;
    &>*{
        border: 1px solid #E0E0E0;
border-radius: 4px;
    }
}
.input_text{
    flex-grow: 2;
    height: 40px;
}
.input_tel{
    flex-grow: 1;
    height: 40px;
}
.form_bottom{
    width: 100%;
    position: relative;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    &>input, textarea{
        &::placeholder{
            font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        /* identical to box height */
        /* black */
        color: #2C2828;
        opacity: 0.6;
        }
        width: 580px;
        height: 160px;
        @media (max-width: 600px){
            width: 100%;
        }
    }
}
textarea{
    height: 180px;
    &:hover{
        &+.placeholder{
            display: none !important;
        }
    }
}
div.placeholder{
    border: 1px solid red;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 3;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    /* black */
    color: black;
    opacity: 0.6;
}
.footer{
    position: relative;
    width: 100%;
    top: 100%;
    height: 84px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #2E3848;
    padding-right: 15%;
}
.copyright{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
/* identical to box height */
color: #FFFFFF;
}
.slider_link{
    width: 100%;
    height: 100%;
    opacity: 0;
}
.submit_text{
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
/* identical to box height */
color: #FFFFFF;
align-self: center;
}
.button_text{
    margin-top: -20px;
}
.block4-image{
    height: 408px;
    width: 50%;
}
.block4-content1{
    &>.block4-image{
        background-image: url(img/main/block4/image1.png);
        background-size: cover;
    }
}
.block4-content2{
    &>.block4-image{
        background-image: url(img/main/block4/image2.png);
        background-size: cover;
    }
}
.block4-content3{
    &>.block4-image{
        background-image: url(img/main/block4/image3.png);
        background-size: cover;
    }
}
.block4-content4{
    &>.block4-image{
        background-image: url(img/main/block4/image4.png);
        background-size: cover;
    }
}
.block4-content5{
    &>.block4-image{
        background-image: url(img/main/block4/image5.png);
        background-size: cover;
    }
}
.block4-content6{
    &>.block4-image{
        background-image: url(img/main/block4/image6.png);
        background-size: cover;
    }
}
.block4-content7{
    &>.block4-image{
        background-image: url(img/main/block4/image7.png);
        background-size: cover;
    }
}
.block4-content8{
    &>.block4-image{
        background-image: url(img/main/block4/image8.png);
        background-size: cover;
    }
}
.block4-content9{
    &>.block4-image{
        background-image: url(img/main/block4/image9.png);
        background-size: cover;
    }
}
.Name-company{
    font-family: Roboto;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    line-height: 28.13px;
}
.block2-bottom-text1{
    width: 100% !important;
}
.block4 {
    display: flex;
flex-direction: column;
align-items: center;
margin: 0;
// padding: 0px 211px 40px;
gap: 40px;
width: 100%;

}
.block4-head {
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 46px;
line-height: 54px;
/* identical to box height */
text-align: center;
color: #252525;
}
.block4-content-wrapper {
    display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
width: 100%;
@media (max-width: 600px){
    width: 100%;
}
}
.block4-content1, .block4-content3, .block4-content5, .block4-content7, .block4-content9 {
    display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;
width: 100%;
@media (max-width: 600px){
    justify-content: center;
    flex-wrap: wrap;
    &>.block4-image{
        width: 100% !important;
    }
}
}
.block4-content2, .block4-content4, .block4-content6, .block4-content8 {
    &>.block4-image{
        order: 2;
    }
    @media (max-width: 600px){
        flex-wrap: wrap;
        justify-content: center;
        &>.block4-image{
            width: 100% !important;
            order: 0;
        }
    }
display: flex;
flex-direction: row;
justify-content:space-between;
align-items: center;
padding: 0px;
width: 100%;
}
.block4-text-wrapper{
    width: 50%;
    display: flex;
    justify-content: center;
}
.block4-text {
    @media (max-width: 376.98px){
        font-size: 12px;
        line-height: 150%;
    }
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;
text-transform: uppercase;
}
.block4-content2, .block4-content1{
    &>img{
        width: 50%;
        margin: 0;
        padding: 0;
    }
}

// block4 ended

// block5 beginned

.block5{
    margin: 0;
    height: 0;
    
}

// block5 ended

// block6 beginned
.block6 {
    display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
padding: 0px;
width: 125%;
height: 100%;
}
.block6-text-wrapper {
    display: flex;
flex-direction: row;
align-items: center;
justify-content: space-around;
padding: 0px;
width: 500px;
height: 54px;
// margin-top: -54px;

}
.block6-text {
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 46px;
line-height: 54px;
color: #252525;
}
.block6-maps {
    margin-top: 40px;
    width: 100%;
    height: 500px;
    z-index: -1;
}


/* Слайдер: */
.slider{
    max-width: 100%;
    /* Положение элемента устанавливается относительно его исходной позиции: */
    position: relative;
    /* Центрируем по горизонтали: */
    margin: auto;
    height: 300px;
}

/* Картинка масштабируется по отношению к родительскому элементу: */
.slider .item img {
    /* Элемент меняет размер так, чтобы заполнить блок и сохранить пропорции: */
    object-fit: cover;
    width: 100%;
    height: 300px;
}

/* Кнопки назад и вперёд: */
.slider .previous, .slider .next {
    /* Добавляет курсору иконку, когда тот оказывается над кнопкой: */
    cursor: pointer;
    /* Положение элемента задаётся относительно границ браузера: */
    position: absolute;
    top: 43%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    /* Оформление самих кнопок: */
    color: white;
    font-weight: bold;
    font-size: 16px;
    /* Плавное появление фона при наведении курсора: */
    transition: 0.6s ease;
    /* Скругление границ: */
    border-radius: 0 3px 3px 0;
}
.slider .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* При наведении курсора на кнопки добавляем фон кнопок: */
.slider .previous:hover,
.slider .next:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

/* Анимация слайдов: */
.slider .item {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    /* Устанавливаем и изменяем степень прозрачности: */
    from {
        opacity: 0.4
    }
    to {
        opacity: 1
    }
}
.slider{
    width: 100%;
    display: flex;
    flex-direction: row !important;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
}
.item{
    width: 15%;
    height:15%
}
.item1{
    width: 100%;
    height: 87%;
}

.slider-head-header{
    width: 590px;
height: 28px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;
text-transform: uppercase;
/* black */
color: #252525;
margin: 0;
@media (max-width: 600px){
    width: 100%;
    height: 100%;
}
}
.slider-head-footer{
    font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 16px;
/* black */
color: #252525;
}
.block4-content1:hover{
    &+.slider{
        display: flex;
        // transition: 10s;
    }
}
.slider-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.slider_common_wrapper{
    height: 100%;
    flex-direction: column !important;
    align-items: center;
    justify-content: flex-start;
    display: none;
}
.slider_btn{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

width: 183px;
height: 50px;
/* blue */
background: #4089D2;
border-radius: 4px;
}
.slider_link{
    width: 117px;
height: 21px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
/* identical to box height */
color: #FFFFFF;
text-decoration: none;
}
.slider_head_text{
    flex-wrap: wrap;
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 46px;
line-height: 54px;
@media (max-width: 600px){
    font-size: 24px;
    line-height: 150%;
}
/* identical to box height */
text-align: center;
/* black */
color: #252525;
}
.slider_common_wrapper{
    width: 100%;
    gap: 10px;
}
.slider-bottom-head, .list-item, .slider-bottom-footer{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
/* black */
color: #252525;
}
.place>.container{
    gap: 60px;
}
.slider_link{
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
/* identical to box height */
color: #FFFFFF;
text-decoration: none;
z-index: 2;
}